## Settings file was created by plugin FlarepunnyModel v1.0.1
## Plugin GUID: com.wintermantis.flarepunny

[Body]

## Modifier of Flarepunny's fitness. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Fitness Modifier = 0

## Modifier of Flarepunny's muscles. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Arm Muscle Modifier = 0

## Modifier of Flarepunny's breast size. Number from -100 to 200.
# Setting type: Single
# Default value: 0
Breast Modifier = 0

## Modifier of Flarepunny's butt size. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Butt Modifier = 0

## Modifier of Flarepunny's hip size. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Hips Modifier = 0

## Modifier of Flarepunny's leg size. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Legs Modifier = 0

## Modifier of Flarepunny's belly size. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Belly Modifier = 0

## Modifier of Flarepunny's waist size. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Waist Modifier = 0

## Modifier of Flarepunny's slimness. Number from 0 to 100.
# Setting type: Single
# Default value: 0
Slim Modifier = 0

## Modifier to make Flarepunny more accurate to original Lopunny. Number from 0 to 100. Recommended that every other torso blendshape is set to 0 while using this.
# Setting type: Single
# Default value: 0
Canon Slim Modifier = 0

[Misc]

## Enable the Camera Visual Resetter for every other suit. You should probably only use this if you are not resetting correctly.
# Setting type: Boolean
# Default value: true
Enable Resetter on every suit = true

## Plays audio when performing vanilla emotes or when taking damage. Will only work on emotes if the TME Patch is disabled.
# Setting type: Boolean
# Default value: true
Enable emote audio clips = true

[Suits to Replace Settings]

## Enter a comma separated list of suit names.(Additionally, [Green suit,Pajama suit,Hazard suit])
# Setting type: String
# Default value: Flarepunny
Suits to enable Model for = Flarepunny

[Voice Sensitivity]

## Sensitivity of Flarepunny's Jaw. Number from 5 to 20
# Setting type: Single
# Default value: 10
Sensitivity Value = 10

