## Settings file was created by plugin UnrealTentacle v1.0.0
## Plugin GUID: DreWulff-UnrealTentacle

[General]

## The spawn chance weight for UnrealTentacle, relative to other existing enemies.
## Goes up from 0, lower is more rare, 100 and up is very common.
# Setting type: Int32
# Default value: 20
Spawn weight = 20

